// ============================================================
// Heading
// ============================================================

.mega {
    font-size: $mega-size;
    font-weight: $font-weight-heavy;
}

.kilo {
    font-size: $kilo-size;
    font-weight: $font-weight-heavy;
}

.alpha {
    font-size: $alpha-size;
    font-weight: $font-weight-heavy;
}

.beta {
    font-size: $gamma-size;
    font-weight: $font-weight-heavy;
}

.gamma {
    font-size: $gamma-size;
}

.delta {
    font-size: $delta-size;
}

.muted {
    color: $text-muted;
}

.muted--inverse {
    color: $text-muted-inverted;
}
