// ============================================================
// Brand colours
// ============================================================
// http://hexpreview.com/(ffffff)(f0f0f0)(d9d9d9)(4a4a4a)(333333)(000000)(ea3892)(6d58a9)

// Avoid using these colours directly in stylesheets!
// Wherever possible, use a colour from the roles section, below
// especially where the same colour will be used for the same purpose in two places

$white:          #ffffff;
$whitesmoke:     #f0f0f0;
$grey-light:     #d9d9d9;
$charcoal-light: #4a4a4a;
$charcoal:       #333333;
$black:          #000000;

$green:           #5BC9AA;


// ============================================================
// Roles
// ============================================================

$brand-primary: $green;

$text-primary:          $charcoal;
$text-primary-inverted: $white;

$text-muted:            $grey-light;
$text-muted-inverted:   $charcoal-light;
